receivers:
  otlp:
    protocols:
      grpc:
      http:


exporters:
  jaeger:
    endpoint: "http://jaeger:14268/api/traces"
  loki:
    endpoint: "http://loki:3100/loki/api/v1/push"

processors:
  batch:


service:
  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ jaeger, loki ]
    metrics:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: []
    logs:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ loki ]
