/* Minimal boti styles used for mock home screen inside device */
.boti-root {
	height: 100%;
	color: white;
}
.header {
	padding: 24px 20px 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 20;
}
.menu-icon,
.profile-icon {
	color: #fff;
}
.logo-arc {
	width: 40px;
	height: 20px;
	border-top: 2px solid orange;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
}
.app-name {
	color: #fff;
	font-weight: 600;
}
.home-sample {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding-top: 120px;
}
