version: "3.8"

services:
    mongo:
        image: mongo:6.0
        restart: unless-stopped
        ports:
            - "27017:27017"
        volumes:
            - ./data/mongo:/data/db

    bio_nexus:
        build: .
        depends_on:
            - mongo
        environment:
            - ENV=dev
            - MONGODB_URI=mongodb://mongo:27017
            - MONGO_DB_NAME=bio_nexus_db
        ports:
            - "8000:8000"
        command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
        volumes:
            - .:/app
