fastapi==0.99.1
uvicorn[standard]==0.22.0
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp==1.12.0
opentelemetry-instrumentation-fastapi==0.36b0
prometheus_client==0.16.0
python-json-logger==2.0.4
pytest==7.4.0
httpx==0.24.1
Flask==2.3.4
